/* If you do not plan on using Tailwind,
 * delete the `@tailwind` imports and the `tailwindConfig` key
 * from `nowpack.config.js` and re-run `npm run start` to enable
 * hot reloading of css.
 **/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Delete the following code
 * Note that this uses PostCSS which always nests rules
 * with a `&` prefix.
 **/
body {
  background: #ffefff;

  & h1 {
    color: #fe0923;
  }
}
